.ListCommitsContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.ListCommitsWrapper{
    width: 768px;
}
.ListCommits__listDateGroup{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.ListCommits__listDateGroupHeader{
    padding-bottom: 20px;
}
.ListCommits__listDateGroupTitle{
    color: rgba(var(--blue),0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: block;
}
.ListCommits__listDateGroupBody{
    width: 100%;

}